/*  */
.name {
    font-family: 'Mulish',sans-serif;
}
.icon_bar1 {
    /* width: 40px;
    height: 20px; */
    display: block;
    /* user-select: none; */
    cursor: pointer;
    position: absolute;
  }
  .icon_bar1 svg{
    height: 40px;
    font-size: 40px;
    margin-top: 3px;
  }
  .icon_bar1:hover .categories {
    visibility: visible;

  }
  .categories{
    /* transition-delay: 3s;
    transition-duration: 1s; */
      position: fixed;
      margin: auto;
      left: 0;
      top: 86px;
      width: 300px;
      height: auto;
      background-color: white;
      box-shadow: 0 4px 6px #00000029;

   
  }
  .categories li{
      list-style:none;
      border: solid 1px rgb(150, 150, 150);
      width: 100%;
      height: 40px;
      font-weight: 500;
      /* font-size: .9em; */
      padding-top: 10px;
  }
  .categories li:hover{
    font-weight: bold;
  }
  